<link rel="stylesheet" href="style.css">
<style>
    .head{
    margin-top: 4rem;
        text-align: center;
        padding: 0;
    }

    .f-text{
    font-size: 1.4rem;
    text-align: center;
    padding: 0;
}
.socials{
    display: flex;
    margin-left: 14rem;
}
.socials li{
    margin-right: 3.6rem;
    list-style: none;
    font-size: 2rem;
}
.socials li a{
    color: #fff;
}
.text{
    background-color: #7b4786;
    position: absolute;
   width: 100%;
}
.text h5{
    margin: 1rem 0 0 28rem;
}
.text p{
    margin: 1rem 0 0 35rem;
}
 .name{

            font-size: 20px;
            color: #310a3e;
        }
    @media (max-width:768px) {
        .head{
            text-align: center;
        } 
        .socials{
            display: flex;
            margin-left: 3rem;
        }
        .socials li{
            margin-right: 3.6rem;
            list-style: none;
            font-size: 2rem;
        }
        .text h5{
            margin: 1rem 0 0 6rem;
        }
        .text p{
            margin: 1rem 0 0 12rem;
        }
        .name1{
            text-align: center;
            font-size: 20px;
            color: #310a3e;
        }
    }
</style>
<body>
    <h1 class="head">Find me on</h1>
    <p class="f-text">I’m just a click away.</p>
    <div class="socials">
        <ul class="socials">
            <li>
                <a href="#"><i class="fa-brands fa-square-instagram" target="_blank"></i></a>
            </li>
            <li>
                <a href="https://x.com/PrachiThakor08?t=CdMps-HQJokaFY_IfSSiiA&s=09" target="_blank"><i class="fa-brands fa-square-twitter"></i></a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/prachi-thakor-64b42a228/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
            </li>
            <li>
                <a href="https://github.com/prachithakor08" target="_blank"><i class="fa-brands fa-square-github"></i></a>
            </li>
        </ul>
    </div>
    <div class="text">
        <h5>Designed and developed by<span class="name1">  Prachi Thakor</span></h5>
        <p>Copyright &copy; 2025</p>
    </div>
</body>
</html>