<nav class="navbar navbar-expand-md navbar-light custom-purple-navbar">
  <div class="container-fluid">
    <a class="navbar-brand dancing-script" style="color: aliceblue;" href="/">Prachi!</a>

    <!-- White Hamburger Icon -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fa fa-bars" style="color: white; font-size: 1.5rem;"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link text-white" href="/"><i class="fa-solid fa-house-chimney"></i> Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/about"><i class="fa-solid fa-user"></i> About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/projects"><i class="fa-solid fa-desktop"></i> Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/resume"><i class="fa-regular fa-file"></i> Resume</a>
        </li>
        <li class="nav-item">
          <a href="https://github.com/prachithakor08" class="btn text-white"
            style="border:1px solid #fff; padding: 5px; height:2rem; width:4rem;" target="_blank">
            <i class="fa-brands fa-github"></i>&nbsp;&nbsp;<i class="fa-solid fa-star"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
