<nav class="navbar navbar-expand-md navbar-light bg-body-light ">
  <div class="container-fluid">
      <a class="navbar-brand dancing-script" style="color: aliceblue;" href="/">Prachi!</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                  <a class="nav-link" href="/"><i class="fa-solid fa-house-chimney"></i>  Home</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/about"><i class="fa-solid fa-user"></i>  About</a>
              </li>
              <!-- <li class="nav-item">
                  <a class="nav-link" href="/skills">Skills</a>
              </li> -->
              <li class="nav-item">
                  <a class="nav-link" href="/projects"><i class="fa-solid fa-desktop"></i>  Projects</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/Resume"><i class="fa-regular fa-file"></i>  Resume</a>
              </li>
                <li>
                <a href="https://github.com/prachithakor08" class="btn" target="_blank" style="border:1px solid #fff; padding: 5px;height:2rem;width:4rem;">
                    <i class="fa-brands fa-github"></i>&nbsp;&nbsp;<i class="fa-solid fa-star"></i>
                </a>
                </li>

          </ul>
      </div>
  </div>
</nav>
