<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prachi Thakor</title>
    <link rel="icon" href="/Images/logo.jpg" type="image/jpeg">
</head>
<body>
    <%- include("../views/includes/navbar.ejs") %>
    <%-include("../views/includes/background.ejs") %>
    <h1 class="heading edu-au-vic-wa-nt-arrows">Behind the Code</h1>
    <div class="about">
        <div class="abt-img">
            <img src="/Images/img3.jpg">
        </div>
    <div class="about-text">
        <p class="text-p merriweather-regular">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Hi, I’m Prachi Thakor, an aspiring Software Engineer driven by a passion for coding, problem-solving, and building meaningful tech solutions. Currently in my final year of B.E. in Information Technology at Bharati Vidyapeeth’s College of Engineering for Women, I have honed my skills in programming languages such as C, C++, Java, PHP, Node.js, Express, and Python.<br><br>

With a solid grasp of Data Structures and Algorithms, along with hands-on experience in Machine Learning and Web Development, I enjoy transforming ideas into practical, user-friendly applications.

As a team leader, I believe in the power of collaboration, clear communication, and a commitment to continuous learning. I’m always eager to take on challenging projects and work alongside like-minded individuals to develop innovative tech solutions that make a difference.

Let’s connect and create something impactful together!
            </p>
            <h3 class="sub-text dancing-script ">Let's connect and build something amazing together!&hearts;</h3>
        </div></div>
        <%- include("../views/includes/footer.ejs") %>
</body>
</html>