<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prachi Thakor</title>
    <link rel="icon" href="\CSS\Images\logo.jpg" type="image/jpeg">
</head>
<body>
    <%- include("../views/includes/navbar.ejs") %>
    <%-include("../views/includes/background.ejs") %>
    <h1 class="heading edu-au-vic-wa-nt-arrows">Behind the Code</h1>
    <div class="about">
        <div class="abt-img">
            <img src="/CSS/Images/img3.jpg">
        </div>
    <div class="about-text">
        <p class="text-p merriweather-regular">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Hi, I'm Prachi Thakor, an Aspiring Software Engineer
             passionate about coding and problem-solving. Currently
              in my third year of B.E. in Information Technology at Bharati
               Vidyapeeth's College of Engineering for Women, I am proficient
                in languages like C, C++, Java, PHP, Node.js, Express, and 
                Python. I have a strong foundation in Data Structures and 
                Algorithms and have gained knowledge in Machine Learning
                 and Web Development.<br>
                 As a team leader, I value collaboration, communication, and
                  continuous learning. I'm excited to work on innovative projects 
                 and collaborate with others to create impactful tech solutions.
            </p>
            <h3 class="sub-text dancing-script ">Let's connect and build something amazing together!&hearts;</h3>
        </div></div>
        <%- include("../views/includes/footer.ejs") %>
</body>
</html>