<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prachi Thakor</title>
    <link rel="icon" href="/Images/logo.jpg" type="image/jpeg">
    <!-- <link rel="stylesheet" href="\CSS\style.css"> -->
</head>
<body>
    <%- include("../views/includes/navbar.ejs") %>
    <%- include("../views/includes/background.ejs") %>
    <div class="homep">
        <div class="intro">
            <h6 class="hello dancing-script">Hi There!</h6><br>
            <h1 class="name edu-au-vic-wa-nt-arrows">I'm &nbsp;<span>Prachi<br> Thakor</span></h1>
            <p class="info dancing-script">Innovating with Every Line of Code!</p>
        </div>
        <div class="img-container">
            <img class="img1" src="/Images/img1.jpg" alt="Prachi Thakor">
        </div>
    </div>
   

    <div class="footer-cls">
        <%- include("../views/includes/footer.ejs") %>
    </div>
    <!-- <script src="script.js"></script> -->
  
</body>
</html>
