<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prachi Thakor</title>
    <link rel="icon" href="/Images/logo.jpg" type="image/jpeg">
</head>
<body>
    <%- include("../views/includes/navbar.ejs") %>
    <%-include("../views/includes/background.ejs") %>

    <div class="heading">
      <h3 class="title">My Recent<span> Works</span></h3>
      <p class="sub-title">Here are few projects on which I've worked recently.</p>
    </div>
    <div class="cards-container ">
          <div class="card" style="width: 23rem; height:30rem;">
            <img src="/Images/handtalk-AI.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">HandTalk-AI-A Sign Language Translator</h5>
              <p class="card-text">An AI-powered tool translating sign language to text, text to sign, and speech to sign.
                Developed using Machine Learning, HTML, CSS, and JavaScript.</p>
              <a href="https://github.com/prachithakor08/HandTalk-AI" target="_blank" class="btn btn-primary">Explore More</a>
            </div>
          </div>
          
          <div class="card" style="width: 23rem; height:30rem;">
            <img src="/Images/trackit.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">TrackIt -Mini Version Control</h5>
              <p class="card-text">Built a personal Git-inspired version control system using Node.js, React, and AWS. Integrated CLI commands like add, commit, push,
                 and pull for seamless tracking. Enabled secure project snapshot uploads to AWS S3 while maintaining commit history.</p>
              <a href="https://github.com/prachithakor08/TrackIt-Version-Control-System" target="_blank" class="btn btn-primary">Explore More</a>
            </div>
          </div>
          
          <div class="card" style="width: 23rem; height:30rem;">
            <img src="/Images/Converzio.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">ConverZio -Real-Time Video Conferencing Website</h5>
              <p class="card-text">Built video conferencing platform using MERN and WebRTC for  
                real-time video and audio calls. Implemented secure room creation, 
                screen sharing, history tracking and chatting for efficient team meetings and collaborations.</p>
              <a href="https://github.com/prachithakor08/Converzio-Video-Calling" target="_blank" class="btn btn-primary">Explore More</a>
            </div>
          </div>

           <div class="card " style="width: 23rem; height:30rem;">
            <img src="/Images/BreezyHomes.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">BreezyHomes-Find Your Perfect Getaway</h5>
              <p class="card-text">BreezyHomes is a user-friendly vacation rental platform connecting guests with the perfect stays. 
                Built using MERN stack</p>
              <a href="https://github.com/prachithakor08/Breezy-Homes" target="_blank"  class="btn btn-primary">Explore More</a>
            </div>
          </div>

           
           <div class="card" style="width: 23rem; height:30rem;">
              <img src="/Images/zerodha.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Zerodha Clone - Trading Platform</h5>
                    <p class="card-text">A stock trading platform offering real-time market data, easy navigation, and interactive UI. Developed using React.js, Node.js, and MongoDB.</p>
                    <a href="https://github.com/prachithakor08/Online-stock-trading-platform" target="_blank" class="btn btn-primary">Explore More</a>
                </div>
         </div>

          <div class="card" style="width: 23rem; height:30rem;">
            <img src="/Images/Movie Recommendation.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Basic Movie Recommendation System</h5>
              <p class="card-text">Built a movie recommendation system using Python that suggests similar movies based on the user’s 
                entered movie name, helping users easily discover related movies they might enjoy. </p>
              <a href="https://github.com/prachithakor08/Movie_Recommendation_System" target="_blank" class="btn btn-primary">Explore More</a>
            </div>
          </div>

    </div>
    <%-include("../views/includes/footer.ejs")  %>
</body>
</html>