<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prachi Thakor</title>
    <link rel="icon" href="\Images\logo.jpg" type="image/jpeg">
    <style>
        .heading{
            font-size: 3rem !important;
        }
        .why-download{
            margin: 5rem 10rem 4rem 0;
            text-align: justify;
            font-size: 1rem;
        }
        .resume-buttons{
            text-align: center;
        }
        .resume-buttons a{
            border: 2px solid black;
            color: white;
            background-color: rgb(126, 86, 147);
            margin-right: 3rem;
            margin-top: 2rem;
        }
        .img img{
            width: 350px;
            height: 350px;
            border-radius: 20% ;
            margin: 2rem 0rem 0 0;
        }
        .codolio-link{
            color: rgb(155, 109, 179);
            text-decoration: none;
            font-size: 1rem;
            margin-left: 3rem;
        }
    @media (max-width:768px){
        .heading{
            margin: 1rem 1rem 1rem 1rem ;
            text-align: center;
        }
        .img img{ 
            width: 300px;
             margin: 1rem 0 0 0rem;
        }
        .why-download{
            margin: 4rem 2rem 2rem 2rem;
            text-align: justify;
        }
        .resume-buttons {
            margin: 2rem 2rem 0rem 2rem;
            text-align: center;
        }
        .resume-buttons a{
            margin: 2rem 2rem 1rem 2rem;
        }
        .codolio-link{
            margin: 0rem 1rem 2rem 0rem;
            text-align: justify;
        }
    }
    </style>
</head>
<body>
    <%- include("../views/includes/navbar.ejs") %>
    <%-include("../views/includes/background.ejs") %>

    <h1 class="heading merriweather-regular">Know me more!</h1>
    <div class="row">
        <div class="col-1"></div>
        <div class="col">
            <div class="img">
                <img src="/Images/resume1.jpg" alt="png">
            </div>
        </div>
        <div class="col">
            <div class="why-download merriweather-regular">
            <p>My resume provides a comprehensive overview of my qualifications,
                 projects, and experiences in an easy-to-read format. 
                Perfect for recruiters and collaborators!</p>
                     <div class="resume-buttons">
                    <!-- Button to View Resume -->
                    <a href="/Images/Resume.pdf" target="_blank" class="btn view-btn">
                        View Resume
                    </a>
                    <!-- Button to Download Resume -->
                    <a href="/Images/Resume.pdf" download class="btn download-btn">
                        Download Resume
                    </a>
                    <br><br><br><br>
                </div>
                 <p class="merriweather-regular">
                        <a href="https://codolio.com/profile/prachi.thakor__" target="_blank" class="codolio-link">
                            Check out my Codolio profile</a> and see my journey unfold!
                </p>
            </div>
        </div>
        </div>
       
    
    <%- include("../views/includes/footer.ejs") %>
</body>
</html>